pip-selfcheck*
etc/
.ipynb_checkpoints*
__pycache__/*
feed_files/*wav
feed_files/*json
feed_files/*png
feed_inference_files/*png
*.pyc
.idea/
lib/
bin/
lib64
pyvenv.cfg
share/
.env
.vscode/settings.json
*temp_overlay.wav
*where_we_are*
