cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.16.0
pyalsaaudio==0.8.4
pyparsing==2.3.1
python-dateutil==2.7.5
python-speech-features==0.6
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
tensorflow
h5py
smbus-cffi==0.5.1
PySoundFile==0.9.0.post1
librosa==0.4.2
